html, body, h1, h2, h3, h4, p, div {
	padding: 0;
	border: 0;
	margin: 0;
}
body{
	font-size: 100%;font-family: 'Quantico', sans-serif;
	background-color: #eee;
}
h1{
	font-size: 40px;
	color: white;
	padding:20px;
	text-shadow: 2px 2px 2px #000;
}
.banner img {
	border: solid black 5px;
	border-radius: 100px;
	margin:40px auto 30px auto;
}
h2 {
	font-size: 20px;
	padding: 10px;
}
.banner{
	background-image: url(images/piano.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 40px 0 20px 0;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    box-shadow: 5px 5px 5px #000;
}
.names{
	background-color: #FEDB91;
	margin: 10px 0 10px 0;
	text-align: center;
	border-top: 5px solid black;
    border-bottom: 5px solid black;
    box-shadow: 5px 5px 5px #000;
}
.container {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.anecdotes {
	border-bottom: 5px solid black;
	box-shadow: 5px 5px 5px #000;
	border-radius: 35px;
	margin-bottom: 20px;
	font-size: 26px;
 	background: -webkit-linear-gradient(#eee, #ddd); 
  	background: -o-linear-gradient(#eee, #ddd); 
 	background: -moz-linear-gradient(#eee, #ddd); 
 	background: linear-gradient(#eee, #ddd);
}
.boxes {
	background-color: lightgrey;
	border: 5px black solid;
	box-shadow: 5px 5px 5px #000;
	margin-bottom: 20px;
	padding: 50px;
	border-radius: 25px;
}
h3 {
	margin-bottom: 30px;
	text-decoration: underline;
}
.boxes p {
	margin-bottom: 40px;
}
.responsive-image {
		height:auto;
		width: 100%;
		max-width: 600px;
		max-height: 400px;
}
.responsive-video {
		height: 300px;
		width: 100%;
		max-width: 400px;
}
.boxes img {
	border: 5px black solid;
	box-shadow: 5px 5px 5px #000;
	border-radius: 20px;
}
iframe {
	border: 10px rgba(0,0,0,.87) solid;
	box-shadow: 5px 5px 5px #333;
	border-radius: 20px;
}
iframe {
	position: relative;
}
.contact-info {
	background-color: #FEDB91;
	height: 200px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	margin-bottom: 40px;
	text-align: right;
	padding-right: 100px;
	box-shadow: 5px 5px 5px #000;
}
footer h3 {
	margin-top:20px;
}
footer p {
	margin-top: 5px;
	margin-bottom: 5px;
}
a {
	text-decoration: underline;
	color: #000;

}
a:hover {
 font-size: 17px;
 color: white;
 text-shadow: 2px 2px 2px black;
 text-decoration: none;
}

@media (max-width: 1088px){
	.banner {
		background-image: url(images/piano.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left center;
	}
}
@media (max-width: 525px) {
	.banner{
		background-image: none;
		background-color: black;
		height: 300px;
	}
	.banner img {
	border: solid black 3px;
	border-radius: 100px;
	margin: 0 auto 10px auto;
    }
    h1{
    	padding-bottom: 0px;
    }
    .contact-info {
    	padding-right: 50px;
    }
    .names h2{font-size: 17px; }
    .boxes p {font-size: 14px; }
    footer p {font-size: 14px; }
    .anecdotes{font-size: 22px; }
    .boxes h3 {font-size : 15.5px; }
}

